:root {
    --color-gray: hsla(0, 0%, 59%, .4);
    --color-cyan: hsl(185, 75%, 39%);
    --color-blue: hsl(229, 23%, 23%);
    --color-grayish-blue: hsl(227, 10%, 46%);
}

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/kumbh-sans-400.woff2') format('woff2'),
        url('../fonts/kumbh-sans-400.woff') format('woff');
}

@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/kumbh-sans-700.woff2') format('woff2'),
        url('../fonts/kumbh-sans-700.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Kumbn Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--color-grayish-blue);
    list-style: none;
    background-color: var(--color-cyan);
}

.page__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 25px;
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: -150px -150px, 150px calc(100% + 150px);
    background-size: 100%;
}

.page__footer {
    padding: 15px 25px;
    font-size: 14px;
    text-align: center;
    background-color: white;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.link {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-cyan);
}

.link:hover,
.link:focus {
    color: var(--color-blue);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding-top: 85px;
    text-align: center;
    background-color: white;
    background-image: url("../images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size: 100% 140px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 0 hsl(227deg 10% 46% / 40%);
}

.card__user {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 18px;
    color: var(--color-blue);
}

.card__age {
    margin-left: 5px;
    font-weight: 400;
    color: var(--color-grayish-blue);
}

.card__image-container {
    order: -1;
    width: 105px;
    height: 105px;
    margin-bottom: 20px;
    border: 4px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.card__avatar {
    width: 100%;
    height: auto;
}

.card__location {
    margin: 0 0 25px;
    font-size: 15px;
    color: var(--color-grayish-blue);
}

.card__info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 22px 40px;
    list-style: none;
    border-top: 1px solid var(--color-gray);
}

.card__info-item {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-size: 13px;
}

.card__info-main {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-blue);
}

@media (min-width: 768px) {
    .page__main {
        background-position: -100% -500px, 200% 600px;
        background-size: 75%;
    }
}
